extends layout

block content
    .row.page-header
        .col-lg-12
            h1= title
        h1.col-lg-12
            if offering.signed
            span.badge.badge-default='[signed]'
            if offering.authentic
            span.badge.badge-default='[authentic]'
            if offering.gameWorn
            span.badge.badge-default='[game worn]'
            span.badge.badge-default='['+offering.itemYear+']'

    div
        p= offering.itemDescription
        p= offering.athleteInfo

    .row
        .col-lg-12.offering-info
            h2= 'Questions'
            a.btn.btn-default.btn-secondary.pull-right(href='/offering/'+offering._id+'/question/new') Add a New Question
        ul
        each question in offering.questions
            li= question.questionText
            li= question.answer 

    .row
        .col-lg-12
            h2= 'Past Bids'
            ul
            each bid in offering.bids
                li='$'+bid.amount

    .row
        .col-lg-12.offering-info
            h2= 'Current Bid: $'+currentBid.amount
            a.btn.btn-default.btn-secondary.pull-right(href='/offering/'+offering._id+'/bid') Bid on Offering
            a.btn.btn-default.btn-secondary.pull-right(href='/offering/'+offering._id+'/accept') Accept Bid