extend layout

block content
    .row.page-header
        .col-lg-12
            h1 Add a New Offering

    form(action="#", method="post", role="form")
        - if (error === "val")
             .alert.alert-danger(role="alert") All fields required, please try again
        .form-group
            label(for='offererUser')= 'Offerer Name: '
            input.form-control(id='offererUser', name='offererUser')
        .form-group
            label(for='offererPass')= 'Offerer Password: '
            input.form-control(id='offererPass', name='offererPass', type='password')
        .form-group
            label(for='playerName')= 'Player Name: '
            input.form-control(id='playerName', name='playerName')
        .form-group
            label(for='itemYear')= 'Item Year: '
            input.form-control(id='itemYear', name='itemYear')
        .form-group
            label(for='signed')= 'Signed: '
            input.form-control(type='checkbox', name='signed', id='signed')
            label(for='authentic')= 'Authentic: '
            input.form-control(type='checkbox', name='authentic', id='authentic')
            label(for='gameWorn')= 'Game Worn: '
            input.form-control(type='checkbox', name='gameWorn', id='gameWorn')
        .form-group
            label(for='itemDescription')= 'Item Description: '
            input.form-control(id='itemDescription', name='itemDescription')
        .form-group
            label(for='athleteInfo')= 'Athlete Info: '
            input.form-control(id='athleteInfo', name='athleteInfo')
        button.btn.btn-secondary.pull-right(type='submit') Add