extends layout

block content
    .row.page-header
        .col-lg-12
            h1= title
        h1.col-lg-12
            if offering.signed
                span.badge.badge-default='signed'
            if offering.authentic
                span.badge.badge-default='authentic'
            if offering.gameWorn
                span.badge.badge-default='game worn'
            span.badge.badge-default=offering.itemYear

    div
        p= offering.itemDescription
        p= offering.athleteInfo

    .row
        .col-lg-12.offering-info
            h2= 'Questions'
            a.btn.btn-default.btn-secondary.pull-right(href='/offering/'+offering._id+'/question/new') Add a New Question
        .col-lg-12
            ul(style="list-style:none;")
                each question in offering.questions
                    li.question
                        b= question.questionText
                    if question.answer
                        li.question= question.answer
                    else 
                        form.form-horizontal(action="/offering/"+offering._id+"/question/"+question._id+"/answer", method="post", role="form", style="margin-bottom:10px;")
                            .form-group
                                .col-sm-10 
                                    textarea#answer.form-control(name="answer", cols="30", rows="3")
                            button.btn.btn-secondary.pull-right Answer Question 

    .row
        .col-lg-12
            h2= 'Past Bids'
            ul
            each bid in offering.bids
                li='$'+bid.amount+' made by: '+bid.username

    .row
        .col-lg-12.offering-info
            if offering.available
                if currentBid
                    h2= 'Current Bid: $'+currentBid.amount+' made by: '+currentBid.username
                    a.btn.btn-default.btn-secondary.pull-right(href='/offering/'+offering._id+'/accept') Accept Bid
                a.btn.btn-default.btn-secondary.pull-right(href='/offering/'+offering._id+'/bid') Bid on Offering
            else if currentBid
                h2= 'Accepted Bid: $'+currentBid.amount+' made by: '+currentBid.username