extends layout

block content
  #banner.page-header
    .row
      .col
        if (!all)
          h1=title
        else
          h1="Past Offerings"
        small Trade Jersey's with your classmates!
      .col(style="float:right;padding:0px;")
        if (!all)
          a.btn.btn-default.btn-secondary.page-btn(href="/offering/new") + Add An Offering
        if (all)
          a.btn.btn-default.btn-secondary.page-btn(href="/") Show Available Offerings
          if (sortDate)
            a.btn.btn-default.btn-primary.page-btn(href="/?sortDate=true&all=true") Sort By Date
          else
            a.btn.btn-default.btn-secondary.page-btn(href="/?sortDate=true&all=true") Sort By Date
          if (sortOfferer)
            a.btn.btn-default.btn-primary.page-btn(href="/?sortOfferer=true&all=true") Sort By Offerer
          else
            a.btn.btn-default.btn-secondary.page-btn(href="/?sortOfferer=true&all=true") Sort By Offerer
        else
          a.btn.btn-default.btn-secondary.page-btn(href="/?all=true") Show Past Offerings

  if offerings.length == 0 && !all
    .row
      .col
        h3="No available offerings, add a new offer or click on 'Show Past Offerings' to see accepted offers"
  if offerings.length == 0 && all
    .row
      .col
        h3="No current or accepted offers, add a new offer"
   
  .row.list-group
    each offering in offerings
      .col-xs-12.list-group-item
        h4
          div.list-group-item-header
            a(href='/offering/'+offering._id)= offering.playerName
            if offering.signed
              span.badge.pull-right.badge-default signed
            if offering.authentic
              span.badge.pull-right.badge-default authentic
            if offering.gameWorn
              span.badge.pull-right.badge-default game worn
            span.badge.pull-right.badge-default= offering.itemYear
            span.badge.pull-right.badge-default= offering.offererUser
            span.badge.pull-right.badge-default= offering.created

          .list-group-item-content
            p.concatDetail= offering.itemDescription
            p.concatDetail= offering.athleteInfo
            if offering.available && offering.currentBid
              p.concatDetail= 'Current Bid: $'+offering.currentBid
            if !offering,available && offering.currentBid
              p.concatDetail= 'Bought for: $'+offering.currentBid
            if (offering.available && !all)
              p
                a.btn.btn-secondary(style="margin: 10px", href="/offering/"+offering._id+"/bid") Bid on Offering
                  | &nbsp;
  if (all)
    .row
      .col-xs-12
        .row.footer-detail
          h1
            p To find current offers, click "Show Current Offerings"
