extends layout

block content
  #banner.page-header
    .row
      .col
        h1=title
        small Trade Jersey's with your classmates!
      .col(style="float:right;padding:0px;")
        a.btn.btn-default.btn-secondary.page-btn(href="/offering/new") + Add An Offering
        a.btn.btn-default.btn-secondary.page-btn(href="/offering/past") + Show Past Offerings
   
  .row
    .row.list-group
    each offering in offerings
      .col-xs-12.list-group-item
        h4
          div.list-group-item-header
            a(href='/offering/'+offering._id)= offering.playerName
            if offering.signed
            span.badge.pull-right.badge-default [signed]
            if offering.authentic
            span.badge.pull-right.badge-default [authentic]
            if offering.gameWorn
            span.badge.pull-right.badge-default [game worn]
            span.badge.pull-right.badge-default= '['+offering.itemYear+']'

          .list-group-item-content
            p.concatDetail= offering.itemDescription
            p.concatDetail= offering.athleteInfo
            
            p
              a.btn.btn-secondary(style="margin: 10px", href="/offering/#{offering._id}/bid") Bid on Offering
                | &nbsp;

  .row
    .col-xs-12
      .row.footer-detail
        h1
          p To find previous offers, click "Show Past Offerings"
          p To bid on an offer, click "Bid on Offering"
